.goTop {
    position: fixed;
    right: 30px;
    bottom: 160px;
    width: 60px;
    height: 60px;
    font-size: 50px;
    text-align: center;
    border-radius: 50%;
    color: var(--color-link);
    background-color: var(--color-bg);
}