.Recommend {
    .tit {
        padding: 0 20px;
        line-height: 60px;
        font-size: 40px;
        font-weight: normal;
    }

    .list {
        padding: 10px 20px 0;

        .item {
            display: flex;
            margin-bottom: 20px;
            padding: 20px;
            background-color: var(--color-bg);
        }

        .cover {
            flex: none;
            width: 160px;
            height: 200px;
        }

        .cont {
            flex: 1;
            padding-left: 20px;
        }

        .name {
            span {
                float: right;
            }
        }

        .state {
            border-bottom: 1px dashed #868686;
            padding: 10px 0;
        }
    }
}