:root {
    --color-link: #1677ff;
    --color-warning: #faad14;
    --color-danger: #ff1818;
    --color-success: #52c41a;
    --color-info: #1890ff;
    --color-disabled: #bfbfbf;
    --color-text: #000;
    --color-bg: #f0f2f5;
    --color-bg-light: #fff;
    --color-vip-bg: #fff0d9;
    --color-vip-text: #785832;
    --color-vip-disabled: #beaa91;
}