@import url("./global.scss");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--color-link);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
    font-size: 1em;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
}

body {
    font-size: 32px;
    overflow-x: hidden;
    color: --color-text;
    background-color: var(--color-bg);
}

.page {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.cut_off {
    display: inline-block;
    height: 1em;
    width: 1px;
    margin: 0 10px;
    background-color: currentColor;
    vertical-align: middle;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ellipsis-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}